.text{
    color: #f7ebdb;
    font-family: "Nunito Sans", sans-serif;
}

body{
    background-color: #f7ebdb;
}

.button{
    background-color: #acbd98;
    color: white;
    border: 2px solid #f7ebdb;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    border-radius: 8px;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 6px;

}

li {
    list-style-type: none;
}

.button:hover{
    background-color: #f7ebdb;
    color: #acbd98;
}

.recipe-container{
    text-align: center;
    background-color: #acbd98;
    padding: 30px;
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: space-between;
}

.box-wrapper{
    display: flex;
    justify-content: space-between;
}
.box{
    flex: 1;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
}